.register{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
    ),url("https://images.pexels.com/photos/7731332/pexels-photo-7731332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm >label{
    margin: 10px 0;

}

.registerInput{
    padding: 10px;
    background-color:white ;
    border: none;
    border-radius: 10px;
    font-family: 'Valera Round',sans-serif;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color:teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}

.registerRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: tomato;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px; 
}